ChatWidget>QTextEdit#chatLineEdit {
    border-style: none;
    background-color: rgba(245, 248, 252, 255);
}
ChatWidget>QTextEdit#chatLineEdit QScrollBar:vertical {
    border-style: none;
    width: 8px;
    margin: 0;
}
ChatWidget>QTextEdit#chatLineEdit QScrollBar::handle:vertical {
    border-style: none;
    border-radius: 3px;
    background-color: rgba(205, 205, 205, 255);
    min-height: 20px;
}
ChatWidget>QTextEdit#chatLineEdit QScrollBar::handle:vertical:hover {
    background-color: rgba(166, 166, 166, 255);
}
ChatWidget>QTextEdit#chatLineEdit QScrollBar::handle:vertical:pressed {
    background-color: rgba(96, 96, 96, 255);
}
ChatWidget>QTextEdit#chatLineEdit QScrollBar::add-line:vertical {
    border: none;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
ChatWidget>QTextEdit#chatLineEdit QScrollBar::sub-line:vertical {
    border: none;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
ChatWidget>QTextEdit#chatLineEdit QScrollBar::add-page:vertical,
ChatWidget>QTextEdit#chatLineEdit QScrollBar::sub-page:vertical {
    background-color: rgba(245, 248, 252, 255);
}
ChatWidget>QPushButton#emojiIcon,
ChatWidget>QPushButton#pictureIcon,
ChatWidget>QPushButton#fileIcon
{
    border-style: none;
}
ChatWidget>QPushButton#emojiIcon:hover,
ChatWidget>QPushButton#pictureIcon:hover,
ChatWidget>QPushButton#fileIcon:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(180, 180, 180, 255);
}
ChatWidget>QPushButton#sendButton {
    font-size: 13px;
    border-radius: 3px;
    background-color: rgba(20, 155, 118, 255);
    color: rgba(255, 255, 255, 255);
}
ChatWidget>QPushButton#sendButton:hover {
    background-color: rgba(10, 184, 136, 255);
}
ChatWidget>QPushButton#sendButton:pressed {
    background-color: rgba(22, 134, 104, 255);
}
