FileMessageSentWidget>QPushButton#fileIcon {
    border-style: none;
}
FileMessageSentWidget>QPushButton#reuploadButton {
    border-style: none;
    text-align: left;
    color: rgba(22, 134, 104, 255);
}
FileMessageSentWidget>QPushButton#reuploadButton:hover {
    text-decoration: underline;
}
FileMessageSentWidget>QProgressBar#progressBar {
    border: 1px solid rgba(77, 77, 77, 50);
    border-radius: 2px;
    text-align: center;
}
FileMessageSentWidget>QProgressBar#progressBar::chunk {
    background-color: rgba(20, 155, 118, 255);
    width: 1px;
}
FileMessageSentWidget>QPushButton#cancelButton {
    border-style: none;
}
FileMessageSentWidget>QPushButton#openFileButton {
    border-style: none;
    text-align: left;
    color: rgba(22, 134, 104, 255);
}
FileMessageSentWidget>QPushButton#openFileButton:hover {
    text-decoration: underline;
}
FileMessageSentWidget>QPushButton#openDirButton {
    border-style: none;
    text-align: left;
    color: rgba(22, 134, 104, 255);
}
FileMessageSentWidget>QPushButton#openDirButton:hover {
    text-decoration: underline;
}
