HistoryWidget QScrollBar:vertical {
    border-style: none;
    width: 8px;
    margin: 0;
}
HistoryWidget QScrollBar::handle:vertical {
    border-style: none;
    border-radius: 3px;
    background-color: rgba(205, 205, 205, 255);
    min-height: 40px;
}
HistoryWidget QScrollBar::handle:vertical:hover {
    background-color: rgba(166, 166, 166, 255);
}
HistoryWidget QScrollBar::handle:vertical:pressed {
    background-color: rgba(96, 96, 96, 255);
}
HistoryWidget QScrollBar::add-line:vertical {
    border: none;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
HistoryWidget QScrollBar::sub-line:vertical {
    border: none;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
HistoryWidget QScrollBar::add-page:vertical,
HistoryWidget QScrollBar::sub-page:vertical {
    background-color: rgba(245, 248, 252, 255);
}
/**************/
HistoryWidget #evenWidget {
    border-style: none;
    background-color: rgba(245, 248, 252, 255);
}
HistoryWidget #evenWidget>QTextEdit#messageEdit {
    border-style: none;
    background-color: rgba(245, 248, 252, 255);
}
HistoryWidget #oddWidget {
    border-style: none;
    background-color: rgba(255, 255, 255, 255);
}
HistoryWidget #oddWidget>QTextEdit#messageEdit {
    border-style: none;
    background-color: rgba(255, 255, 255, 255);
}

