/* predialog 样式*/
PreDialog {
/*    border-image: url(:/predialog/background);*/
    background-color: rgba(255, 255, 255, 255);
}
PreDialog>QPushButton#accountIcon {
    border-style: solid none solid solid;
    border-width: 1px;
    border-color: rgba(77, 77, 77, 50);
    background-color: rgba(255, 255, 255, 255);
    border-top-left-radius: 3px;
}
PreDialog>QPushButton#passwdIcon {
    border-style: none none solid solid;
    border-width: 1px;
    border-color: rgba(77, 77, 77, 50);
    background-color: rgba(255, 255, 255, 255);
    border-bottom-left-radius: 3px;
}
PreDialog>QLineEdit#accountLineEdit {
    font-size: 12px;
    border-style: solid solid solid none;
    border-width: 1px;
    border-color: rgba(77, 77, 77, 50);
    background-color: rgba(255, 255, 255, 255);
    border-top-right-radius: 3px;
}
PreDialog>QLineEdit#passwdLineEdit {
    font-size: 12px;
    border-style: none solid solid none;
    border-width: 1px;
    border-color: rgba(77, 77, 77, 50);
    background-color: rgba(255, 255, 255, 255);
    border-bottom-right-radius: 3px;
}
PreDialog>QPushButton#loginButton {
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(9, 163, 220, 255);
    border-radius: 3px;
    background-color: rgba(9, 163, 220, 255);
    color: rgba(255, 255, 255, 255);
}
PreDialog>QPushButton#loginButton:hover {
    border-color: rgba(60, 195, 245, 255);
    background-color: rgba(60, 195, 245, 255);
    color: rgba(255, 255, 255, 255);
}
PreDialog>QPushButton#registerButton {
    font-size: 12px;
    border-style: none;
    text-align: left;
    color: rgba(128, 128, 128, 255);
}
PreDialog>QPushButton#registerButton:hover {
    text-decoration: underline;
    color: rgba(75, 75, 75, 255);
}
PreDialog>QPushButton#findPasswdButton {
    font-size: 12px;
    border-style: none;
    text-align: right;
    color: rgba(128, 128, 128, 255);
}
PreDialog>QPushButton#findPasswdButton:hover {
    text-decoration: underline;
    color: rgba(75, 75, 75, 255);
}
